.aider*
.*swp
/go/
/.cache/
/.kunja/
inspector.config.json
/kunja
/kunja.exe
*.log
output.txt
cmd.history
CobraAndMcp.txt
GEMINI.md
docs.json
shortdocs.json
mcp-sample.txt
adapter/\*go
internal/\*go
api/\*/
api/\*/\*go
python/
